<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="cn.creditloans.core.dao.P2PGrjbxxDao">
	<resultMap type="cn.creditloans.core.entity.p2p.P2PGrjbxx" id="p2pGrjbxxResultMap">
		<id property="id" column="id" />
		<result property="xm" column="xm"/>
		<result property="zjlx" column="zjlx"/>
		<result property="zjhm" column="zjhm"/>
		<result property="xb" column="xb"/>
		<result property="csrq" column="csrq"/>
		<result property="hyzk" column="hyzk"/>
		<result property="zgxl" column="zgxl"/>
		<result property="zgxw" column="zgxw"/>
		<result property="zzdh" column="zzdh"/>
		<result property="sjhm" column="sjhm"/>
		<result property="dwdh" column="dwdh"/>
		<result property="dzyx" column="dzyx"/>
		<result property="txdz" column="txdz"/>
		<result property="txdzyzbm" column="txdzyzbm"/>
		<result property="hjdz" column="hjdz"/>
		<result property="poxm" column="poxm"/>
		<result property="pozjlx" column="pozjlx"/>
		<result property="pozjhm" column="pozjhm"/>
		<result property="pogzdw" column="pogzdw"/>
		<result property="polxdh" column="polxdh"/>
		<result property="lxrxm1" column="lxrxm1"/>
		<result property="lxrgx1" column="lxrgx1"/>
		<result property="lxrdh1" column="lxrdh1"/>
		<result property="lxrxm2" column="lxrxm2"/>
		<result property="lxrgx2" column="lxrgx2"/>
		<result property="lxrdh2" column="lxrdh2"/>
		<result property="zy" column="zy"/>
		<result property="dwmc" column="dwmc"/>
		<result property="dwsshy" column="dwsshy"/>
		<result property="dwdz" column="dwdz"/>
		<result property="dwdzyzbm" column="dwdzyzbm"/>
		<result property="bdwgzqsnf" column="bdwgzqsnf"/>
		<result property="zw" column="zw"/>
		<result property="zc" column="zc"/>
		<result property="nsr" column="nsr"/>
		<result property="jzdz" column="jzdz"/>
		<result property="jzdzyzbm" column="jzdzyzbm"/>
		<result property="jzzk" column="jzzk"/>
		<result property="status" column="status"/>
		<result property="userId" column="user_id"/>
		<result property="orgCode" column="org_code"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	
	<sql id="select_all_sql">
		select id, xm, zjlx, zjhm, xb, csrq, hyzk, zgxl, zgxw, zzdh, sjhm, dwdh, dzyx, txdz, txdzyzbm,
		 hjdz, poxm, pozjlx, pozjhm, pogzdw, polxdh, lxrxm1, lxrgx1, lxrdh1, lxrxm2, lxrgx2, lxrdh2,
		  zy, dwmc, dwsshy, dwdz, dwdzyzbm, bdwgzqsnf, zw, zc, nsr, jzdz, jzdzyzbm, jzzk, status,
		   user_id, org_code, create_time, update_time from p2p_grjbxx
	</sql>
	
	
	<select id="selectP2PGrjbxxPageCount" parameterType="cn.creditloans.core.entity.p2p.P2PGrjbxx" resultType="int">
		select count(1) from p2p_grjbxx where org_code = #{orgCode}
		<if test="xm != null and '' != xm">  
			and xm like '%${xm}%'
		</if>
		<if test="zjhm != null and '' != zjhm">  
			and zjhm like '%${zjhm}%'
		</if>
		<if test="status != 0">  
			and status = #{status}
		</if>
	</select>
	
	<select id="selectP2PGrjbxxPageList" resultMap="p2pGrjbxxResultMap">
		<include refid="select_all_sql" />
		where org_code = #{p2pGrjbxx.orgCode}
		<if test="p2pGrjbxx.xm != null and '' != p2pGrjbxx.xm">  
			and xm like '%${p2pGrjbxx.xm}%'
		</if>
		<if test="p2pGrjbxx.zjhm != null and '' != p2pGrjbxx.zjhm">  
			and zjhm like '%${p2pGrjbxx.zjhm}%'
		</if>
		<if test="p2pGrjbxx.status != 0">  
			and status = #{p2pGrjbxx.status}
		</if>
		order by create_time desc limit #{pm.pageSize} offset #{pm.startCount}
	</select>
	
	<select id="selectP2PGrjbxxById" parameterType="int" resultMap="p2pGrjbxxResultMap">
		<include refid="select_all_sql" />
		where id = #{id}
	</select>
	
	<select id="selectP2PGrjbxxCountForUnique" parameterType="map" resultType="int">
		select count(1) from p2p_grjbxx where zjlx = #{zjlx} and zjhm = #{zjhm} and org_code = #{orgCode}
	</select>
	
	<insert id="insertP2PGrjbxx" parameterType="cn.creditloans.core.entity.p2p.P2PGrjbxx">
		<selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
			SELECT currval('p2p_grjbxx_id_seq')
		</selectKey>
		insert into p2p_grjbxx (xm, zjlx, zjhm, xb, csrq, hyzk, zgxl, zgxw,
		zzdh, sjhm, dwdh, dzyx, txdz, txdzyzbm, hjdz, poxm, pozjlx, pozjhm,
		pogzdw, polxdh, lxrxm1, lxrgx1, lxrdh1, lxrxm2, lxrgx2, lxrdh2,zy,
		dwmc, dwsshy, dwdz, dwdzyzbm, bdwgzqsnf, zw, zc, nsr, jzdz, jzdzyzbm,
		jzzk, status, user_id, org_code, create_time, update_time)
		values (#{xm}, #{zjlx}, #{zjhm}, #{xb}, #{csrq}, #{hyzk}, #{zgxl},
		#{zgxw}, #{zzdh}, #{sjhm}, #{dwdh}, #{dzyx}, #{txdz}, #{txdzyzbm},
		#{hjdz}, #{poxm}, #{pozjlx}, #{pozjhm}, #{pogzdw}, #{polxdh},
		#{lxrxm1}, #{lxrgx1}, #{lxrdh1}, #{lxrxm2}, #{lxrgx2}, #{lxrdh2},
		#{zy}, #{dwmc}, #{dwsshy}, #{dwdz}, #{dwdzyzbm}, #{bdwgzqsnf}, #{zw},
		#{zc}, #{nsr}, #{jzdz}, #{jzdzyzbm}, #{jzzk}, #{status}, #{userId},
		#{orgCode}, now(), now())
	</insert>
	
	<update id="updateP2PGrjbxx" parameterType="cn.creditloans.core.entity.p2p.P2PGrjbxx">
		update p2p_grjbxx set xm=#{xm}, zjlx=#{zjlx}, zjhm=#{zjhm}, xb=#{xb},
		csrq=#{csrq}, hyzk=#{hyzk}, zgxl=#{zgxl}, zgxw=#{zgxw}, zzdh=#{zzdh},
		sjhm=#{sjhm}, dwdh=#{dwdh}, dzyx=#{dzyx}, txdz=#{txdz},
		txdzyzbm=#{txdzyzbm}, hjdz=#{hjdz}, poxm=#{poxm}, pozjlx=#{pozjlx},
		pozjhm=#{pozjhm}, pogzdw=#{pogzdw}, polxdh=#{polxdh}, lxrxm1=#{lxrxm1},
		lxrgx1=#{lxrgx1}, lxrdh1=#{lxrdh1}, lxrxm2=#{lxrxm2}, lxrgx2=#{lxrgx2},
		lxrdh2=#{lxrdh2}, zy=#{zy}, dwmc=#{dwmc}, dwsshy=#{dwsshy},
		dwdz=#{dwdz}, dwdzyzbm=#{dwdzyzbm}, bdwgzqsnf=#{bdwgzqsnf}, zw=#{zw},
		zc=#{zc}, nsr=#{nsr}, jzdz=#{jzdz}, jzdzyzbm=#{jzdzyzbm}, jzzk=#{jzzk},
		status=#{status}, user_id=#{userId}, org_code=#{orgCode},
		update_time=now() where id=#{id}
	</update>
	
	<delete id="deleteP2PGrjbxxById" parameterType="int">
		delete from p2p_grjbxx where id=#{id}
	</delete>
</mapper>