<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="cn.creditloans.core.dao.af.BaseActionRelationDao">

	<resultMap id="resultMap" type="cn.creditloans.core.entity.af.BaseActionRelation">
        <id property="id" column="id" />
		<result property="baseId" column="base_id" />
		<result property="type" column="type" />
		<result property="actionId" column="action_id" />
		<result property="sequence" column="sequence" />
		<result property="createUserId" column="create_user_id" />
		<result property="createTime" column="create_time" />
		<result property="upadteUserId" column="upadte_user_id" />
		<result property="updateTime" column="update_time" />
    </resultMap>
    
    <!-- 插入单个 -->
    <insert id="insert" parameterType="cn.creditloans.core.entity.af.BaseActionRelation">
    	<selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
		    SELECT currval('af_base_element_action_relation_id_seq')
		</selectKey>
 		INSERT INTO af_base_element_action_relation (base_id,type,action_id,sequence,
 			create_user_id,create_time,upadte_user_id,update_time)
		VALUES (#{baseId}, #{type}, #{actionId}, #{sequence},
			#{createUserId}, now(), #{upadteUserId}, now());
    </insert>
    
    <!-- 修改单个 -->
    <update id="update"  parameterType="cn.creditloans.core.entity.af.BaseActionRelation">
    	update af_base_element_action_relation set action_id = #{actionId}, 
    	            sequence = #{sequence}, upadte_user_id = #{upadteUserId},
					update_time = now() where id = #{id}
    </update>
    
    <!-- 删除单个 -->
    <delete id="delete" parameterType="int">
    	delete from af_base_element_action_relation where id = #{id} 
    </delete>
    
    <!-- 查询单个 -->
    <select id="select" resultMap="resultMap" parameterType="int">
    	select * from af_base_element_action_relation where id = #{id} 
    </select>
    
    <!-- 查询所有 -->
    <select id="selectAllInfos" resultMap="resultMap" parameterType="int">
    	select * from af_base_element_action_relation 
    </select>
    
	<!-- 查询总量，这里的需要根据实际条件进行查询 -->
	<select id="selectPageCount" resultType="int" parameterType="cn.creditloans.core.entity.af.BaseActionRelation">
        select count(1) FROM af_base_element_action_relation where 1=1
		<if test="type != null and '' != type">
			and type = #${type} 
		</if>
		<if test="baseId != 0">
			and baseId = #{baseId} 
		</if>
		<if test="actionId != 0">
			and actionId = #{actionId} 
		</if>
    </select>
    
    <!-- 根据实际情况需要修改语句 -->
    <select id="selectPageList" resultMap="resultMap">
         select * from af_base_element_action_relation where 1=1
		<if test="entity.type != null and '' != entity.type">
			and type = #${entity.type} 
		</if>
		<if test="entity.baseId != 0">
			and baseId = #{entity.baseId} 
		</if>
		<if test="entity.actionId != 0">
			and actionId = #{entity.actionId} 
		</if>
         limit #{pm.pageSize} offset #{pm.startCount}
    </select>

	<insert id="batchInsertBaseActionRelation" parameterType="java.util.List">
        insert into af_base_element_action_relation (base_id, type, action_id, sequence, create_user_id, create_time, upadte_user_id,update_time)  
        VALUES  
        <foreach collection="list" item="item" index="index" separator=",">  
            (#{item.baseId}, #{item.type}, #{item.actionId},  #{item.sequence}, #{item.createUserId}, now(), #{item.upadteUserId}, now())
        </foreach>  
    </insert>
    
    <select id="getMaxSequence" parameterType="map" resultType="Integer">
    	select max(${sequence}) from af_base_element_action_relation where base_id = #{baseId} 
    </select>
</mapper>